.game-over {
    transform: rotate(90deg);
}

#hero-image {
    width: 500px;
    height: 500px;
}

.hero-stats {
    padding-left: 30px;
    align-items: flex-start;
    background-color: transparent;
}

.orc-stats {
    padding: 90px;
    background-color: transparent;
}

